@"
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
env/
.venv/
venv/
ENV/
pip-log.txt

# Django stuff
staticfiles/
media/
local_settings.py

# IDEs
.vscode/
.idea/
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Secrets
*.env
"@ > .gitignore